# Ignore virtual environment folder
myenv/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore logs and debug files
*.log

# Ignore VS Code settings
.vscode/

# Ignore any additional config or environment files
.env
